@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-image: url("https://w0.peakpx.com/wallpaper/270/146/HD-wallpaper-blur-gradation-apple-event-light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

Nav:hover{
    cursor: pointer;
}

/* button:hover
{
	scale: 1.03;
	transition: 0.3s;
	cursor: pointer;
} */

/* .nav_not_active{
  color: black;
  position: relative;
  height: 100%;
  width: auto;
  background-color: white;
}

.nav_active {
  color: black;
  position: relative;
  background-color: darkmagenta;
} */

.tab_list {
    margin-bottom: 20px;
}

.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: grey;
}

.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Imposta l'altezza desiderata del contenitore padre */
}

.create {
    background-color: cornflowerblue;
    margin-bottom: 20px;
    margin-top: 20px;
}

.topLeft {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
}

.create:hover {
    background-color: deepskyblue; /* Colore che desideri quando il mouse è sopra il bottone */
}

#ciao {
    background-color: cornflowerblue;
    margin-bottom: 20px;
}