.paper{
    box-shadow: 5px 10px 8px #888888;
}

.error {
    color: red;
    font-size: small;
}
/*html, body{*/
/*    background-image: url("https://img.freepik.com/free-photo/calendar-with-pencil-monstera-leaf_23-2148693336.jpg?w=1480&t=st=1696502685~exp=1696503285~hmac=90cb5e0c283f0ae602796ebda82fd056ed8494449ad6015acd9b9b638490aed4");*/
/*    background-size: cover; !* Per coprire l'intero sfondo senza distorsione *!*/
/*    background-repeat: no-repeat; !* Evita la ripetizione dell'immagine *!*/
/*    background-attachment: fixed; !* Fissa l'immagine di sfondo in modo che rimanga al suo posto mentre si scorre la pagina *!*/
/*}*/